[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=MTG Arena
Comment=MTG Arena
Exec=my-super-snap
Icon=/usr/share/icons/icon.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=SuperSnap.exe
Keywords=game